#title{
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
}
#title-2{
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    color: red;
    text-align: center;
}
#head{
    color: white;
    text-align: right;
    font-size: 1.5rem;
    background-color: #1d2e6f;
    height: 47px;
    width: 100%;
    font-family: 'Meiryo UI', Times, serif;  
    line-height: 1.8;
}
a{
    text-decoration:none;
    color: white;
 }
 a:hover{
         text-decoration:none;
}