body{
    background-color: white;
    height: 347px;
}
#title{
    font-size: 4rem;
    font-family: 'Arial Black', Times, serif;
    color: black;
    background-color:white;
    line-height: 3.2;
    height: 47px;
    text-align: left;
}
#title-2{
    font-size: 1.5rem;
    font-family: 'Microsoft YaHei UI', Times, serif;
    color: black;
    text-align: left;
    background-color:white;
    line-height: 10;
    height: 37px;
}
#head{
    color: black;
    text-align: right;
    font-size: 1.25rem;
    background-color:white;
    height: 47px;
    width: 100%;
    font-family: 'Meiryo UI', Times, serif;  
    line-height: 2.2;
}
a{
    text-decoration:none;
    color: black;
 }
 a:hover{
         text-decoration:none;
}
br{
    background-color: white;
    line-height: 2.2;
}
img{
    border-radius: 10px;
}
hr{
    color: darkgray;
}
